{{!< default}} {{! Get the default layout }}

<main role="main">
  
  {{#foreach posts}}

    <article role="article">

      <header class="post-header">

        <a href="{{url}}"><h1 class="post-title">{{title}}</h1></a>

        <aside class="post-meta">
          {{tags}}
          <p>Written by <a href="{{author.url}}">{{author.name}}</a> on <time class="post-date">{{date format='MMMM DD, YYYY'}}</time></p>
        </aside>

      </header>
      
      {{#if image}}
        <figure class="post-image">
          {{image}}
        </figure>
      {{/if}}

      <section class="post-content">
        {{content words="100"}} <a href="{{url}}" class="read-more">Read More »</a>
      </section>

    </article>

  {{/foreach}}
  
  {{pagination}}
  
</main>