{{!< default}} {{! Get the default layout }}

<main role="main">
  
  {{#foreach posts}}

    <article role="article">

      <header class="post-header">

        <a href="{{url}}">
          <h1 class="post-title">{{title}}</h1>
        </a>

        <aside class="post-meta">
          <time class="post-date">{{date format='YYYY-MM-DD'}}</time>
        </aside>

      </header>
      
      {{#if image}}
        <figure class="post-image">
          {{image}}
        </figure>
      {{/if}}

      <section class="post-content">
        {{content words="100"}} <a href="{{url}}" class="read-more">Read More »</a>
      </section>

    </article>

  {{/foreach}}

</main>