{{!< default}} {{! Get the default layout }}

<main role="main">
  
  {{#post}}

    <article role="article" class="{{post_class}}">

      <header class="post-header">

        <a href="{{url}}">
          <h1 class="post-title">{{title}}</h1>
        </a>

        <aside class="post-meta">
          {{tags}}
          <p>Written by <a href="{{author.url}}">{{author.name}}</a> on <time class="post-date">{{date format='MMMM DD, YYYY'}}</time></p>
        </aside>

      </header>
      
      {{#if image}}
        <figure class="post-image">
          {{image}}
        </figure>
      {{/if}}

      <section class="post-content">
        {{content}}
      </section>

    </article>
    
    <aside class="post-author">
      {{#author}}
        
        <h3 class="author-name">About {{name}}</h3>
        
        {{#if image}}
          {{image}}
        {{/if}}

        {{#if bio}}
          <p class="author-bio">{{bio}}</p>
        {{/if}}

        {{#if website}}
          <p class="author-website">Learn more about {{name}} at {{website}}</p>
        {{/if}}

        <p><a href="{{url}}">See all articles by {{name}}</a></p>
      {{/author}}
    </aside>

    {{! Grab Disqus from partials }}
    {{> disqus}}

  {{/post}}

</main>
